.container{
    margin-top: 5%;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5 ease;
}

.inner:hover img{
    transform: scale(1.2);
}

.container-fluid {
    padding: 0px;
 }

 #myModal img{
    width: 100%;
    
}
#myModal .modal-body{
    padding: 0;
}
#myModal .modal-dialog {
    max-width: 800px;
}
#myModal .formWrap{
    padding: 35px 45px;
    text-align: center;
}
#myModal h1{
    font-size: 26px;
    margin-bottom: 10px;
}
#myModal hr{
    width: 50px;
    height: 2px;
    background: #00b2a9;
    border: none;
}

#myModal form{
    margin-top: 35px;
}
#myModal input{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}
#myModal input:focus{
    outline: #00b2a9;
    border-color: #0066a1 !important;
}
#myModal .submit{
    background: #00b2a9;
    color: #fff;
    border: none;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    color: #333;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #00b2a9;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: rgb(252, 252, 252);
    font-weight: bold;
    margin-top: 0;
    text-align: center;
}
.signup-form hr {
    margin: 0 -30px 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}	

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: centerinherit;
}
.signup-form input[type="checkbox"] {
    margin-top: 0px;
}   
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;
    background:  #0066a1;
    border: none;
    min-width: 140px;
}
.signup-form form a {
    color: #fff;
    text-decoration: none;
}
.signup-form form a:hover {
    text-decoration: underline;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #179b81;
    outline: none;
}
.bg-modal {
    background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 400px;
	width: 500px;
	background-color: #00b2a9;
	text-align: center;
	padding: 10px;
	position: relative;
	border-radius: 4px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}